
body{
  background: rgb(245,245,245);
  color: purple;
  font-size: 25px;
  font-family: Segoe UI;
}
h1{
  font-family: Arial;
  color: red;
  font-weight: lighter;
  font-size: 10px;
}
h2 {
  font-family: Arial;
  color: blue;
  font-weight: lighter;
  font-size: 20px;
}
a {
  color: pink;
}
a:hover {
  text-decoration: none;
  color: purple;
}
.blue-title {
  color: rgb(255, 87, 51 );
  font-size: 20px
}
}
#baseline h2 {
  color: red 
  font-weight: 20px;
}